import(methods)
import(BiocGenerics)
import(SingleCellExperiment)
import(SpatialExperiment)
importFrom(RcppML, nmf)
importFrom(RcppML, auto_nmf_distribution)
importFrom(RcppML, consensus_nmf)
importFrom(RcppML, evaluate)
importFrom(RcppML, assess)
importFrom(RcppML, refine)
importFrom(RcppML, factor_input)
importFrom(RcppML, factor_condition)
importFrom(RcppML, factor_shared)
importFrom(RcppML, nmf_layer)
importFrom(RcppML, factor_net)
importFrom(RcppML, factor_config)
importFrom(RcppML, fit)
importFrom(RcppML, cross_validate_graph)
importMethodsFrom(RcppML, predict)
importMethodsFrom(RcppML, evaluate)

importFrom(S4Vectors, metadata, "metadata<-")
importFrom(SummarizedExperiment, assay, assayNames)
importFrom(SingleCellExperiment, reducedDim, "reducedDim<-", reducedDimNames, altExp, altExpNames)
importFrom(SummarizedExperiment, colData, "colData<-")
importFrom(utils, packageDescription, head, modifyList)
importFrom(scran, findMarkers)
importFrom(stats, rnorm, cor, reorder, kmeans, dist, hclust, cophenetic, as.dist, median, model.matrix)
importFrom(ggplot2, ggplot, aes, geom_point, geom_line, geom_hline, geom_vline, geom_errorbar, scale_color_manual, scale_color_viridis_c, scale_color_gradient, scale_size_continuous, facet_wrap, theme, theme_bw, theme_classic, theme_minimal, labs, element_text, element_line, element_blank, ggtitle, xlab, ylab, scale_color_gradientn, geom_tile, scale_fill_viridis_c)

export(runNMFscape)
export(getBasis)
export(getCoefficients)
export(getTopFeatures)
export(reconstructNMF)
export(vizDimRed)
export(vizUMAP)
export(FindAllDEPs)
export(plotDEPsVolcano)
export(plotDEPsHeatmap)
export(plotProgramHeatmap)
export(plotProgramDots)
export(getModel)
export(getDiagonal)
export(selectDistribution)
export(selectRank)
export(plotRankSelection)
export(consensusNMF)
export(predictNMF)
export(refineNMF)
export(evaluateNMF)
export(assessNMF)
export(runDeepNMF)
export(runMultiModalNMF)
export(runConditionedNMF)
export(runFactorNet)
export(tuneNMF)
export(plotTuning)
