import(methods)
import(BiocGenerics)
import(SingleCellExperiment)
import(SpatialExperiment)
importFrom(RcppML, nmf)

importFrom(S4Vectors, metadata, "metadata<-")
importFrom(SummarizedExperiment, assay, assayNames)
importFrom(SingleCellExperiment, reducedDim, "reducedDim<-", reducedDimNames)
importFrom(utils, packageDescription, head)
importFrom(parallel, mclapply)
importFrom(scran, findMarkers)
importFrom(stats, rnorm, cor, reorder, kmeans, dist, hclust, cophenetic, as.dist, median)
importFrom(ggplot2, ggplot, aes, geom_point, geom_hline, geom_vline, scale_color_manual, scale_color_viridis_c, scale_color_gradient, scale_size_continuous, facet_wrap, theme, theme_bw, theme_classic, theme_minimal, labs, element_text, element_line, element_blank, ggtitle, xlab, ylab, scale_color_gradientn)

export(runNMFscape)
export(getBasis)
export(getCoefficients)
export(getTopFeatures)
export(reconstructNMF)
export(vizDimRed)
export(vizUMAP)
export(FindAllDEPs)
export(plotDEPsVolcano)
export(plotDEPsHeatmap)
export(plotProgramHeatmap)
export(plotProgramDots)